
main {
    width: 100%;
    max-width: 1200px;
    height: auto;
    min-height: 754px;
    margin: 0 auto;
}

aside {
    float: left;
}

aside > span {
    font-size: 32px;
    font-weight: 700;
}

nav {
    width: 210px;
    height: 242px;
    border-top: 2px solid #222;
    margin-top: 15px;
}

nav > a {
    display: block;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #DCDCDC;
    box-sizing: border-box;
    line-height: 60px;
    padding-left: 15px;
}

.on {
    background-color: #3F97F6;
    color: #FFF;
}

nav > a:hover {
    background-color: #3F97F6;
    color: #FFF;
}

section {
    margin-left: 270px;
}

section > span {
    display: block;
    max-width: 930px;
    height: 56px;
    border-bottom: 2px solid #222;
    color: #333;
    font-weight: 700;
    font-size: 26px;
}

section > article {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 18.5px;
}

article > div {
    width: 297px;
    height: 284px;
}

article > div > img {
    width: 100%;
    height: 220px;
}

article > div > a {
    display: block;
    font-size: 16px;
    margin: 5px 0;
}

article > div > ul {
    display: flex;
    color: #888;
    font-size: 13px;
}

.page {
    display: flex;
    margin-left: 330px;
    gap: 3px;
}

.prev {margin-right: 5px;}
.next {margin-left: 5px;}

.page > a {
    width: 32px;
    height: 32px;
    border: 1px solid #DEDEDE;
    box-sizing: border-box;
    color: #888;
    text-align: center;
    line-height: 32px;
    margin-top: 30px;
    margin-bottom: 80px;
}

.page > a:hover {
    background-color: #3F97F6;
    color: #FFF;
}

